<div class="ad-sidebar">
    <div *ngFor="let a of anuncios" class="card shadow-sm mb-3 p-2">
        <ng-container [ngSwitch]="a.tipo">
            <div *ngSwitchCase="'texto'">
                <strong>{{ a.titulo }}</strong>
                <p>{{ a.descripcion }}</p>
            </div>
            <div *ngSwitchCase="'texto-imagen'">
                <img [src]="a.imagen" class="img-fluid mb-2 rounded">
                <strong>{{ a.titulo }}</strong>
                <p>{{ a.descripcion }}</p>
            </div>
            <div *ngSwitchCase="'video-texto'">
                <video [src]="a.videoUrl" autoplay loop muted playsinline class="w-100 rounded mb-2"></video>
                <strong>{{ a.titulo }}</strong>
                <p>{{ a.descripcion }}</p>
            </div>
        </ng-container>
    </div>
</div>