<div class="d-flex flex-column bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
    <h4 class="fw-bold mb-4 text-center"> AdminCine</h4>

    <nav class="nav flex-column">
        <a routerLink="salas" class="nav-link text-white">Salas</a>
        <a routerLink="peliculas" class="nav-link text-white">Películas</a>
        <a routerLink="funciones" class="nav-link text-white">Funciones</a>
    </nav>

    <div class="mt-auto text-center border-top pt-3">
        <p class="mb-1"> {{ auth.currentUser?.nombre }}</p>
        <button class="btn btn-sm btn-outline-light w-100" (click)="auth.logout()">Cerrar sesión</button>
    </div>
</div>