<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4 text-primary fw-bold"> Administrador de Cine</h3>
    <form (ngSubmit)="login()">
      <div class="mb-3">
        <label class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" [(ngModel)]="correo" name="correo" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
      </div>

      <button class="btn btn-primary w-100 mb-2" type="submit">Iniciar sesión</button>
      <a routerLink="/registro" class="btn btn-outline-secondary w-100">Crear cuenta</a>

      <div *ngIf="error" class="alert alert-danger mt-3 text-center">{{ error }}</div>
    </form>
  </div>
</div>