<div class="d-flex">
    <div class="bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
        <h4 class="fw-bold mb-4 text-center">Admin Sistema</h4>
        <nav class="nav flex-column">
            <a routerLink="cines" class="nav-link text-white">Cines</a>
            <a routerLink="usuarios" class="nav-link text-white">Usuarios</a>
            <a routerLink="reportes" class="nav-link text-white">Reportes</a>
        </nav>
        <div class="mt-auto text-center border-top pt-3">
            <p class="mb-1"> {{ auth.currentUser?.nombre }}</p>
            <button routerLink="/login" class="btn btn-sm btn-outline-light w-100" (click)="auth.logout()">Cerrar sesión</button>
        </div>
    </div>

    <div class="flex-grow-1 p-4 bg-light" style="min-height: 100vh;">
        <router-outlet></router-outlet>
    </div>
</div>