.navbar {
  border-bottom: 3px solid #198754;
}

.navbar-brand {
  font-size: 1.3rem;
}

.dropdown-menu {
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}
