<div class="d-flex flex-column bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
  <h4 class="fw-bold mb-4 text-center">Cliente</h4>

  <nav class="nav flex-column">
    <a routerLink="/cliente/cartelera" class="nav-link text-white">Cartelera</a>
    <a routerLink="/cliente/cines" class="nav-link text-white">Cines</a>
    <a routerLink="/cliente/cartera" class="nav-link text-white">Cartera</a>
    <a routerLink="/perfil" class="nav-link text-white">Mi Perfil</a>
  </nav>

  <div class="mt-auto text-center border-top pt-3">
    <p class="mb-1">{{ auth.currentUser?.nombre }}</p>
    <button routerLink="/login" class="btn btn-sm btn-outline-light w-100" (click)="auth.logout()">Cerrar
      sesión</button>
  </div>
</div>