<div class="card shadow-sm p-4">
    <h4 class="text-primary mb-3">{{ modoEdicion ? 'Editar cine' : 'Nuevo cine' }}</h4>
    <form (ngSubmit)="guardar()">
        <div class="mb-3">
            <label class="form-label">Nombre:</label>
            <input type="text" class="form-control" [(ngModel)]="cine.nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Dirección:</label>
            <input type="text" class="form-control" [(ngModel)]="cine.direccion" name="direccion" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Cartera Inicial:</label>
            <input type="number" class="form-control" [(ngModel)]="cine.cartera" name="cartera" required>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success me-2">Guardar</button>
            <button type="button" class="btn btn-secondary" routerLink="/admin-sistema/cines">Cancelar</button>
        </div>
    </form>
</div>